* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 1.5rem;
  color: rgb(205, 187, 187);
  /* border: 0.1rem solid red; */
}

.product-container {
  margin-bottom: 10px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  background-color: rgb(54, 51, 51);
  border-radius: 16px;
  padding: 10px;
}

.image {
  width: 300px;
  height: 450px;
  border-radius: 24px;
  padding: 10px;
}

.price {
  align-self: flex-start;
  padding: 5px;
  padding-left: 50px;
}

.price {
  &::before {
    content: "£";
    margin-right: 5px;
    font-size: 0.7em;
    position: relative;
    bottom: 12.5px;
  }
}

.price-fraction {
  position: relative;
  margin-left: 3px;
  bottom: 12.5px;
  font-size: 0.7em;
}

.name {
  margin-top: -15px;
  padding: 5px;
  padding-left: 15px;
  font-size: 0.65em;
  text-align: start;
}

.category {
  font-size: 0.5em;
  text-align: start;
  padding: 5px;
  padding-left: 16.5px;
}
