* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.rating-container {
  min-width: 300px;
  display: flex;
  /* flex-direction: row-reverse; */
  /* grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  overflow-x: hidden; */
}

.rating-gray {
  /* min-width: 300px; */
  padding: 0;
  /* align-self: center;
  justify-self: center;
  font-size: "1ch"; */
  filter: grayscale(1);
  /* grid-column: 1/-1;
  grid-row: 1/-1;
  overflow-x: hidden; */
}

.rating {
  /* min-width: 300px; */
  padding: 0;
  /* align-self: center;
  justify-self: center;
  font-size: "1ch";
  grid-column: 1/-1;
  grid-row: 1/-1;
  overflow-x: hidden; */
}

.star {
  min-width: 5ch;
  min-height: 5ch;
  background-image: url("../assets/images/star.png");
  background-size: contain;
  background-repeat: repeat-x;
}
