* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.rating-container {
  padding-left: 15px;
  min-width: 100px;
  display: flex;
  transition-duration: 0.6s;
  filter: hue-rotate(-40deg);
  /* flex-direction: row-reverse; */
  /* grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  overflow-x: hidden; */
}

.rating-container:hover {
  scale: 1.005;
  filter: hue-rotate(-10deg);
}

.rating-gray {
  /* min-width: 300px; */
  padding: 0;
  /* align-self: center;
  justify-self: center;
  font-size: "1ch"; */
  filter: grayscale(1);
  /* grid-column: 1/-1;
  grid-row: 1/-1;
  overflow-x: hidden; */
}

.rating {
  /* min-width: 300px; */
  padding: 0;
  /* align-self: center;
  justify-self: center;
  font-size: "1ch";
  grid-column: 1/-1;
  grid-row: 1/-1;
  overflow-x: hidden; */
}

.star {
  margin-right: 5px;
  position: relative;
  top: 5px;
  min-width: 1.5ch;
  min-height: 1ch;
  background-image: url("../assets/images/star.png");
  background-size: contain;
  background-repeat: repeat-x;
  cursor: pointer;

  &:hover {
    filter: hue-rotate(-50deg);
  }
}
