* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 1.5rem;
  color: rgb(205, 187, 187);
  /* border: 0.1rem solid red; */
}

#root {
  min-height: 100vh;
  min-width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

header > button {
  height: 60px;
  font-size: 0.7em;
  padding: 10px;
  padding-top: 1px;
}

.socialIcon {
  scale: 1.15;
  margin-bottom: 10px;
  transition-duration: 3.6s;
}

.socialIcon:hover {
  scale: 1.25;
}
